/*cusom css*/
.wc_fgc_cart {
  clear: both;
  background: rgba(254,254,254,0.2);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
  padding: 10px;
}
.onsale {
    position: relative;
}
/*
.wc-fgc-product-loader {
  position: fixed;
  left: 0px;
  right: 0px;
  max-width: 700px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  top: 0px;
  display: none;
}

.wc-fgc-product-loader img {
  display: block;
  margin: 40% auto 0;
  width: 90px;
}
*/
.wc-fgc-product-detail-container .type-product > div {
  display: inline-block !important;
  vertical-align: top !important;
}

#wc-fgc-variation-container .woocommerce-variation-add-to-cart.variations_button > div, #wc-fgc-variation-container button {
  display: inline-block !important;
}

/*--Cart Page--*/
.wc-fgc-cart-update a {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  opacity: 1;
}

.wc-fgc-edit-var-link{
  border: 1px solid;
  padding: 5px 7px;
  border-radius: 100px;
  margin: 20px 0px;
  position: relative;
  top: 10px;
  text-decoration: none !important;
  font-size: 18.5px;
  transition: ease-in-out all .2s;
}

.wc-fgc-edit-var-link .dashicons{
  vertical-align: middle;
  margin-left: 4px;
  position: relative;
  top: -3px;
}
.wc-fgc-edit-var-link:hover{
  border-radius: 10px;
}

.wc-fgc-cart-update:hover a {
  opacity: 1 !important;
}

/*error message*/
.wc-fgc-stock-error {
  display: none;
  background: #dd3333 none repeat scroll 0 0;
  color: #ffffff;
  padding: 5px 10px;
  text-align: center;
}

.wc_fgc_updatenow {
  cursor: pointer;
}

/* todo: use SASS mixin 
.wc_fgc_updatenow::before {
  font-family: 'WooCommerce';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin: 0;
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
 /* content: "\e603"; what is the woo content code for the edit icon? 
} */

#wc-fgc-variation-container
table.variations {
  max-width: 400px;
  width: 100%;
}

#wc-fgc-variation-container
table.variations
tr
td.value {
  padding-top: 0px !important;
}

/*=====================================
=            RESPONSIVE TABLE        =
=====================================*/

.woocommerce table.shop_table_responsive tr.wc-fgc-new-row td, .woocommerce-page table.shop_table_responsive tr.wc-fgc-new-row td {
  text-align: left !important;
}

.woocommerce table.shop_table_responsive tr.wc-fgc-new-row td::before, .woocommerce-page table.shop_table_responsive tr.wc-fgc-new-row td::before {
  display: block;
  content: "";
}

.woocommerce table.shop_table_responsive tr.wc-fgc-new-row .variations tr, .woocommerce-page table.shop_table_responsive tr.wc-fgc-new-row .variations tr {
    border: 0;
}


/*=====================================
=            MEDIA QUERIES            =
=====================================*/
/*

@media only screen and (max-width: 768px) {
  #wc-fgc-variation-container .images,
  #wc-fgc-variation-container .summary.entry-summary {
    max-width: 100% !important;
    width: 100% !important;
  }
  .entry-content p, .entry-content ol, .entry-content ul, .entry-content dl, .entry-content dt {
    font-family: NonBreakingSpaceOverride, "Hoefler Text", Garamond, "Times New Roman", serif;
    letter-spacing: normal;
    text-align: left;
  }
}
*/
@media only screen and (min-width: 600px) {
  .woocommerce-cart-form img {
    max-width: 100% !important;
    height: auto !important;
    display: block;
  }
 /*
  .woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    width: 100% !important;
    clear: both;
}
  .woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    clear: both;
    width: 100% !important;
  }
  */
}


